<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itjustworks.memorylane">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:name="com.itjustworks.memorylane.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemoryLane"
        tools:targetApi="31">
        <activity
            android:name="com.itjustworks.memorylane.Analysis"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:label="@string/analysis" />

        <activity android:name="com.itjustworks.memorylane.SplashScreen" android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.itjustworks.memorylane.CreateQuestionSet"
            android:exported="false"
            android:label="@string/question_set"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.itjustworks.memorylane.QuestionVideo"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.MemoryLane.NoActionBar" />
        <activity
            android:name="com.itjustworks.memorylane.WriteQuestions"
            android:exported="false"
            android:label="@string/quiz"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.itjustworks.memorylane.CreateQuestions"
            android:exported="false"
            android:label="@string/question_set"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.itjustworks.memorylane.CreateQuiz"
            android:exported="false"
            android:label="@string/quiz"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.itjustworks.memorylane.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.itjustworks.memorylane.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MemoryLane.NoActionBar">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.itjustworks.memorylane.fileprovider"
            android:exported="false"

            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>